body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
*{
  font-family: 'Istok Web', sans-serif;
}